<div class="container">
  <h1>BLOG</h1>

  <div class="content_box">
    <ul>
      <% @posts.each do |post| %>
      <li><a href="/post/<%= post.id %>"><%= post.user.name %> - <%= post.title %></a></li>
      <% end %>
    </ul>
  </div>
</div>
 
  